*{
    margin: 0px;
    padding: 0px;
}
 body{
     background-color: #008000;
     background: url(grama.jpg);
 }

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;    
}

#menum{
    background: white;
    width: 50%;
    border-radius: 25px;
    display: none;
}

#ulm{

}

.lim{
    padding: 15px;
}

.am{
    border: 1px solid #008000;
}

#xm{
    position: relative;
    left: 190px;
    top: 13px;
    width: 15px;
}

hr{
    width: 90%;
    margin: auto auto;
}

#navegacao{
     display: inline-block;
     align-items: center;
     list-style: none;
     text-align: center;
 }

 #troca{
    justify-content: center;
    margin: 20px;
 }

 #mobile{
    display: none;
    position: absolute;
    top: 50px;
    left: 30px;
    
 }

 #menu2{
     background: white;
     padding: 7px;
     border-radius: 10px;
 }

 #nav-duelo, #nav-campeonatos, #nav-times{
     display: inline; 
     margin: 20px; 
 }

 #link-duelo{
    color: white;
    background-color: #008000;
 }

 li a{
    text-decoration: none;
    color: #008000;
    font-size: 1em;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
 }

 li a:hover{
    background-color: #008000;
    color: white;
 }

li a img{
    vertical-align: middle;
    padding-right: 5px;
}

 #partida{
     text-align: center;
     margin: 150px auto;
     border-radius: 30px;
     width: 100%;
     position: relative;
     background: url(fundo-estadio.jpg) center;
     background-size: cover;    
 }

 #duelo{
     justify-content: center;
     text-align: center;
     display: inline-block;
     margin: 15px;
 }

 #mandante{
     text-align: center;
     display: inline;
 }

 #versus{
    width: 25px;
}

 #visitante{
    text-align: center;
    display: inline;
}

#estadio{
    display: block;
    text-align: center;
}

#botao{
    display: block;
    text-align: center;
    margin: 15px;
}

#std{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#botao{
    display: block;
    text-align: center;
    margin: 15px 15px 0px 15px;
}

select{
    display: block;
}

@media (max-width: 500px){

    #mobile{
        display: block;
    }

    #partida{
        margin: 50px auto;
        width: 100%;
    }

    #duelo .mandante, #duelo .visitante #versus{
        display: inline;
    }

    #versus{
        width: 15px;
    }

    #nav-duelo, #nav-campeonatos, #nav-times{ 
        margin: 0px; 
        display: none;
    }
}